.proj-body {
    background-color: rgba(10, 106, 86, 1);
    padding-top: 5%;
    padding-bottom: 5%;
}

.proj-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.proj-title {
    text-align: center;
    margin-bottom: 5%;
    border: solid 20px;
    padding: 3%;
}

.proj-cards .card {
    margin-bottom: 3%;
}

.proj-card{
    max-width: 40%;
    min-width: 40%;
}


.card-image {
    height: 45vh;
    max-height: 200px;
    border: solid orange;

}

@media screen and (max-width: 390px) {
    .proj-cards{
        flex-direction: column;
    }
    .proj-card{
    max-width: 99%;
    min-width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
}

@media screen and (max-width: 770px) {
    .proj-cards{
        flex-direction: column;
    }
    .proj-card{
    max-width: 100%;
    min-width: 99%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
}