@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  box-sizing: border-box;
}

header {
  background-color: rgb(10, 46, 20);
  background-image: url(/public/images/lughtbubls.png);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  padding: 3%;
  padding-bottom: 3%;
}
header .my-name-title {
  color: rgb(150, 199, 64);
  font-family: "Dosis", sans-serif;
}
header .my-job-title {
  font-family: "Silkscreen", cursive;
  color: rgba(234, 184, 90, 0.562);
}
header .personal-image {
  margin: auto;
  border: solid;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 5%;
  color: gold;
}
header .personal-image .profile-img {
  height: 18vw;
  width: 18vw;
  border-radius: 50%;
}
header .header-con-link {
  text-decoration: none;
  color: green;
  font-weight: bolder;
}
header .und-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
header .und-pic .contact-container {
  display: grid;
  place-items: center;
  width: 100%;
}
header .und-pic .contact-container .info-rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-inline: auto;
  border-top: rgba(192, 145, 25, 0.6) solid;
}
header .und-pic .contact-container .info-rows .info-row {
  min-height: 4.2rem;
  min-width: 300px;
  padding-inline: 2rem;
  max-width: 20%;
  margin-inline: auto;
  border: solid rgb(35, 103, 85);
  border-radius: 0px 50px 0px 50px;
  transition: all 500ms;
}
header .und-pic .contact-container .info-rows .info-row:hover {
  color: black;
  background-color: skyblue;
  border-color: transparent;
}
header .und-pic .contact-container h3 {
  color: rgba(192, 145, 25, 0.6);
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
header .und-pic .contact-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  line-break: auto;
  word-wrap: break-word;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  text-align: center;
  margin: 0;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.alll-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.skills-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  margin-top: 2%;
  margin-bottom: 2%;
}
.skills-card .img-sskills {
  max-width: 260px;
  cursor: progress;
}

.skills-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  width: 90%;
  margin-inline: auto;
  transition: all 500ms;
  color: rgb(249, 226, 94);
  overflow: hidden;
}
.skills-div :hover {
  background-color: green;
  color: white;
  transition: all 500ms;
}
.skills-div .my-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  max-width: 30%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-inline: 0.5rem;
  font-family: "Pacifico", cursive;
  border-radius: 20px;
  text-align: center;
  transition: all 500ms;
  cursor: progress;
}

.about-me-div {
  text-align: center;
  min-width: 300px;
  max-width: 400px;
  margin-top: 2%;
  margin-inline: auto;
}
.about-me-div .about-img {
  width: 40%;
  max-width: 140px;
  margin: auto;
  border: solid rgb(63, 22, 32);
  border-radius: 500px 500px 100px 100px;
  background-color: orchid;
}
.about-me-div .card-title {
  width: 90%;
  margin: auto;
  font-size: 1.2rem;
  border-bottom: solid;
  font-family: "Lobster", cursive;
}
.about-me-div .about-content {
  width: 90%;
  margin: auto;
  padding-inline: 4%;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: rgba(0, 128, 128, 0.4);
}

.sub-header {
  background: linear-gradient(rgb(5, 22, 5), rgb(4, 22, 9), darkolivegreen, rgb(156, 177, 156), rgb(156, 177, 156), rgb(10, 106, 86));
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-bottom: 0%;
}

.oShow {
  opacity: 1;
  transition: all 1s;
}

.oHide {
  opacity: 0;
}/*# sourceMappingURL=style.css.map */