* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

header {
  background-color: rgba(168, 43, 17, 0.8);
  background-image: url(./images/lughtbubls.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: bisque;
  padding: 3%;
  padding-bottom: 3%;
}
header .personal-image {
  margin: auto;
  border: solid;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 5%;
}
header .personal-image .profile-img {
  height: 18vw;
  width: 18vw;
  border-radius: 50%;
}
header .und-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .und-pic .hi-myname {
  max-height: 25vw;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .und-pic .hi-myname img {
  width: 100%;
  max-height: 25vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10%;
}
header .und-pic .contact-container {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 11px;
  width: 42%;
  max-width: 40rem;
}
header .und-pic .contact-container h3 {
  text-decoration: underline;
  font-size: 1.6rem;
  font-weight: bolder;
  text-align: center;
  margin: 0;
}
header .und-pic .contact-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  line-break: auto;
  word-wrap: break-word;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  margin: 0;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

@media screen and (max-width: 650px) {
  .und-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .contact-container {
    min-width: 80vw;
    min-height: 20rem;
  }
  .contact-container h3 {
    color: black;
    font-size: 2rem;
  }
  .contact-container p {
    font-size: 45%;
  }
}
@media screen and (max-width: 390px) {
  .und-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .contact-container {
    min-width: 80vw;
    min-height: 20rem;
  }
  .contact-container h3 {
    color: black;
    font-size: 2rem;
  }
  .contact-container p {
    font-size: 45%;
  }
}
.sub-header {
  background-color: rgb(168, 43, 17);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-bottom: 0%;
}
.sub-header .alll-cards {
  display: flex;
  align-items: center;
  border: solid 25px;
  border-radius: 13%;
  width: 80%;
}
.sub-header .alll-cards .about-cart {
  border: solid;
  text-align: center;
  max-width: 55%;
  width: 45%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: 5%;
}
.sub-header .alll-cards .about-cart .about-img {
  width: 40%;
  max-width: 140px;
  margin: auto;
  border-radius: 50px 50px;
  margin-top: 1%;
}
.sub-header .alll-cards .about-cart .card-title {
  font-size: 1.2rem;
  border-top: solid;
  border-bottom: solid;
}
.sub-header .alll-cards .about-cart .about-content {
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: antiquewhite;
}
.sub-header .alll-cards .skil-cart {
  background-color: rgba(0, 210, 142, 0.6);
  width: 25%;
  height: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
}
.sub-header .alll-cards .skil-cart .mcard-body {
  text-align: center;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.sub-header .alll-cards .skil-cart .mcard-body :hover {
  background-color: bisque;
}
.sub-header .alll-cards .skil-cart .mcard-body .card-title {
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sub-header .alll-cards .skil-cart .mcard-body p {
  font-size: 1rem;
  font-weight: bolder;
  width: 100%;
  border: solid;
  border-radius: 20px;
  text-align: center;
}
.sub-header .alll-cards .sskills {
  width: 100%;
  border-radius: 50%;
  margin-top: 1%;
}

@media screen and (max-width: 390px) {
  .sub-header .alll-cards {
    justify-content: center;
    flex-direction: column;
    border: none;
    min-width: 100vw;
  }
  .sub-header .alll-cards .skil-cart {
    min-width: 90%;
    max-width: 99%;
    height: 100%;
    margin: auto;
  }
  .sub-header .alll-cards .skil-cart .mcard-body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    margin: auto;
  }
  .sub-header .alll-cards .skil-cart .mcard-body p {
    max-width: 50%;
    min-width: 49%;
    margin: auto;
    margin-bottom: 1%;
  }
  .sub-header .alll-cards .sskills {
    max-width: 40%;
    border-radius: 50%;
    margin: auto;
    margin-top: 1%;
  }
  .sub-header .alll-cards .about-cart {
    border: solid;
    text-align: center;
    max-width: 99%;
    min-width: 90%;
  }
  .sub-header .alll-cards .about-cart .about-img {
    max-height: 20%;
    max-width: 24%;
    margin: auto;
    border-radius: 50px 50px;
    margin-top: 1%;
  }
}
@media screen and (max-width: 780px) {
  .sub-header .alll-cards {
    justify-content: center;
    flex-direction: column;
    border: none;
    min-width: 100vw;
  }
  .sub-header .alll-cards .skil-cart {
    min-width: 90%;
    max-width: 99%;
    height: 100%;
    margin: auto;
  }
  .sub-header .alll-cards .skil-cart .mcard-body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
  .sub-header .alll-cards .skil-cart .mcard-body p {
    max-width: 40%;
    margin: auto;
    margin-bottom: 1%;
  }
  .sub-header .alll-cards .sskills {
    max-width: 40%;
    border-radius: 50%;
    margin: auto;
    margin-top: 1%;
  }
  .sub-header .alll-cards .about-cart {
    border: solid;
    text-align: center;
    max-width: 99%;
    min-width: 90%;
  }
  .sub-header .alll-cards .about-cart .about-img {
    max-height: 20%;
    max-width: 24%;
    margin: auto;
    border-radius: 50px 50px;
    margin-top: 1%;
  }
}
@media screen and (max-width: 540px) {
  .sub-header .alll-cards {
    justify-content: center;
    flex-direction: column;
    border: none;
    min-width: 100vw;
  }
  .sub-header .alll-cards .skil-cart {
    min-width: 90%;
    max-width: 99%;
    height: 100%;
    margin: auto;
  }
  .sub-header .alll-cards .skil-cart .mcard-body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
  .sub-header .alll-cards .skil-cart .mcard-body p {
    max-width: 40%;
    margin: auto;
    margin-bottom: 1%;
  }
  .sub-header .alll-cards .sskills {
    max-width: 40%;
    border-radius: 50%;
    margin: auto;
    margin-top: 1%;
  }
  .sub-header .alll-cards .about-cart {
    border: solid;
    text-align: center;
    max-width: 99%;
    min-width: 90%;
  }
  .sub-header .alll-cards .about-cart .about-img {
    max-height: 20%;
    max-width: 24%;
    margin: auto;
    border-radius: 50px 50px;
    margin-top: 1%;
  }
}
@media screen and (max-width: 260px) {
  .sub-header .alll-cards {
    justify-content: center;
    flex-direction: column;
    border: none;
    min-width: 100vw;
  }
  .sub-header .alll-cards .skil-cart {
    min-width: 98%;
    max-width: 99%;
    height: 100%;
    margin: auto;
  }
  .sub-header .alll-cards .skil-cart .mcard-body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
    margin: auto;
  }
  .sub-header .alll-cards .skil-cart .mcard-body p {
    min-width: 100%;
    margin: auto;
    margin-bottom: 1%;
  }
  .sub-header .alll-cards .sskills {
    max-width: 40%;
    border-radius: 50%;
    margin: auto;
    margin-top: 1%;
  }
  .sub-header .alll-cards .about-cart {
    border: solid;
    text-align: center;
    max-width: 99%;
    min-width: 98%;
  }
  .sub-header .alll-cards .about-cart .about-img {
    max-height: 20%;
    max-width: 24%;
    margin: auto;
    border-radius: 50px 50px;
    margin-top: 1%;
  }
}
@media screen and (max-width: 290px) {
  .und-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .contact-container {
    min-width: 99vw;
    min-height: 20rem;
    flex-wrap: wrap;
    word-break: break-all;
    line-break: anywhere;
    word-wrap: break-word;
  }
  .contact-container p {
    flex-wrap: wrap;
    word-break: break-all;
    line-break: anywhere;
    word-wrap: break-word;
  }
}/*# sourceMappingURL=style.css.map */