
$gucciyellow: rgba(189, 147, 2, 1);
$guccigreen: rgba(10, 106, 86, 1);
$guccired: rgba(168, 43, 17, 1);

@mixin FlexCenters {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}








* {
    box-sizing: border-box;

}

body{
    background-color: black;
}

header {
    background-color: rgba(168, 43, 17, .8);
    background-image: url(./images/lughtbubls.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: bisque;
    padding: 3%;
    padding-bottom: 3%;

    .personal-image {
        margin: auto;
        border: solid;
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-bottom: 5%;

        .profile-img {
            height: 18vw;
            width: 18vw;
            border-radius: 50%;
        }
    }

    .und-pic {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hi-myname {
            max-height: 25vw;
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                max-height: 25vw;
                height: fit-content;
                border-radius: 10%;
            }
        }

        .contact-container {
            text-align: center;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            // margin-left: auto;
            flex-wrap: wrap;
            //border: solid;
            border-radius: 11px;
            //height: 23vw;
            width: 42%;
            max-width: 40rem;
            //min-width: fit-content;

            h3 {
                text-decoration: underline;
                font-size: 1.6rem;
                font-weight: bolder;
                text-align: center;
                margin: 0;
            }

            p{
                @include FlexCenters();
                flex-direction: column;
                flex-wrap: wrap;
                line-break: auto;
                word-wrap: break-word;
                //white-space: no-wrap;
                font-size: 1.3rem;
                width: 100%;
                text-align: center;
                margin: 0;
                min-height: fit-content;
            }


        }
    }



}
@media screen and (max-width: 650px) {
    .und-pic {
        @include FlexCenters();
        flex-direction: column;
    }
    .contact-container{
        min-width: 80vw;
        min-height: 20rem;
        h3{
            
            color: black;
            font-size: 2rem;
        }
        p{
            font-size: 45%;
        }
    }
    
}



@media screen and (max-width: 390px) {
    .und-pic {
        @include FlexCenters();
        flex-direction: column;
    }
    .contact-container{
        min-width: 80vw;
        min-height: 20rem;
        h3{
            
            color: black;
            font-size: 2rem;
        }
        p{
            font-size: 45%;
        }
    }
    
}

.sub-header {
    background-color: $guccired;
    width: 100%;
    height: fit-content;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-bottom: 0%;


    .alll-cards {
        display: flex;
        //justify-content: space-around;
        align-items: center;
        border: solid 25px;
        border-radius: 13%;
        width: 100%;


        .about-cart {
            border: solid;
            text-align: center;
            max-width: 55%;
            width: 35vw;
            margin-top: 2%;
            margin-bottom: 2%;


            .about-img {
                width: 40%;
                max-width: 140px;
                margin: auto;
                border-radius: 50%;
                margin-top: 01%;
            }

            .card-title {
                font-size: 1.2rem;
                border-top: solid;
                border-bottom: solid;
            }

            .about-content {

                text-align: center;
                font-weight: bold;
                font-size: 0.8rem;
                background-color: antiquewhite;
            }
        }

        .skil-cart {
            background-color: rgba(0, 210, 142, .6);
            width: 25%;
            height: 100%;
            margin-top: 2%;
            margin-bottom: 2%;


            .mcard-body {
                text-align: center;
                height: 65%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;


                :hover {
                    background-color: bisque;
                }

                .card-title {
                    font-size: 1rem;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                }


                p {
                    font-size: 1rem;
                    font-weight: bolder;
                    width: 100%;
                    border: solid;
                    border-radius: 20px;
                    text-align: center;

                }

            }

        }

        .sskills {
            width: 100%;
            border-radius: 50%;
            margin-top: 01%;
        }

    }


}

@media screen and (max-width: 390px) {

    .sub-header .alll-cards {
        justify-content: center;
        flex-direction: column;
        border: none;
        min-width: 100vw;

        .skil-cart {
                min-width: 90%;
                max-width: 99%;
                height: 100%;

                .mcard-body {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                min-width: 100%;
                margin: auto;

                    p {
                        max-width: 50%;
                        min-width: 49%;
                        margin: auto;
                        margin-bottom: 1%;
                    }
                }
        }
        .sskills {
            max-width: 40%;
            border-radius: 50%;
            margin: auto;
            margin-top: 1%;
        }
        
        .about-cart {
            border: solid;
            text-align: center;
            max-width: 99%;
            min-width: 90%;
            .about-img {
                    max-height: 20%;
                    max-width: 24%;
                    margin: auto;
                    border-radius: 50px 50px;
                    margin-top: 01%;
                }
        }
    }

        
                
        

}

@media screen and (max-width: 540px) {

    .sub-header .alll-cards {
        justify-content: center;
        flex-direction: column;
        border: none;
        min-width: 100vw;

        .skil-cart {
            min-width: 90%;
            max-width: 99%;
            height: 100%;

            .mcard-body {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                width: 80%;
                margin: auto;

                p {
                    max-width: 40%;
                    margin: auto;
                    margin-bottom: 1%;
                }
            }
        }

        .sskills {
            max-width: 40%;
            border-radius: 50%;
            margin: auto;
            margin-top: 1%;
        }

        .about-cart {
            border: solid;
            text-align: center;
            max-width: 99%;
            min-width: 90%;

            .about-img {
                max-height: 20%;
                max-width: 24%;
                margin: auto;
                border-radius: 50px 50px;
                margin-top: 01%;
            }
        }
    }





}



   
@media screen and (max-width: 260px) {

        .sub-header .alll-cards {
            justify-content: center;
            flex-direction: column;
            border: none;
            min-width: 100vw;

            .skil-cart {
                min-width: 98%;
                max-width: 99%;
                height: 100%;

                .mcard-body {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    flex-wrap: wrap;
                    min-width: 100%;
                    margin: auto;

                    p {
                        min-width: 100%;
                        margin: auto;
                        margin-bottom: 1%;
                    }
                }
            }

            .sskills {
                max-width: 40%;
                border-radius: 50%;
                margin: auto;
                margin-top: 1%;
            }

            .about-cart {
                border: solid;
                text-align: center;
                max-width: 99%;
                min-width: 98%;

                .about-img {
                    max-height: 20%;
                    max-width: 24%;
                    margin: auto;
                    border-radius: 50px 50px;
                    margin-top: 01%;
                }
            }
        }





    }

@media screen and (max-width: 290px) {
    .und-pic {
        @include FlexCenters();
        flex-direction: column;
    }

    .contact-container {
        min-width: 99vw;
        min-height: 20rem;
        flex-wrap: wrap;
            word-break: break-all;
            line-break: anywhere;
            word-wrap: break-word;


        p {
            flex-wrap: wrap;
            word-break: break-all;
            line-break: anywhere;
            word-wrap: break-word;
        }
    }

}